{% extends 'base.html' %}
{% load home_extras %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Data</title>
</head>
<body>
    {% block content%}
    <h1>Song Data</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Deezer ID</th>
                <th>Title</th>
                <th>Preview</th>
                <th>Song Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for song in object_list %}
            {% if song.saved %}
                <tr>
                    <td>{{ song.deezer_id }}</td>
                    {% with "http://127.0.0.1:8000/songs/"|concatenate:song.pk as url %}
              {% with url|returnLink:song.name as link %}
                    <td>{{ link|safe }}</td> {# link|safe is the name of the song btw #}
                    <td>{{ song.preview }}</td>
                    <td>{{ song.duration }}</td>
                    {% endwith %}{% endwith %}
                    <td><form method="post">
                    {% csrf_token %}
                    <button type="submit" name={{ song.deezer_id }}>UNSAVE</button>
                    </form> {{ song.saved }} </td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endblock content%}
</body>




