{% extends "base.html" %}
{% load static %}

{% block search %} 
<form class="form-inline my-2 my-lg-0" action="songs/song_search_results" method="get">
    {% csrf_token %}
    {{search_form.as_p}}
</form>
{% endblock search %}

{% block content %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'songs/songs.css' %}">
    </head>
<div class="container mt-4">
    <h1 class="mb-4">Song Name: {{ object.name }}</h1>
    <h1 class="mb-4">Artist's Name: {{ object.artist }}</h1>
    <h1 class="mb-4">Contributors: {{ object.contributors }}</h1>
    <h1 class="mb-4">Album Name: {{ object.album }}</h1>
    <h1 class="mb-4">Duration: {{ object.duration }} seconds</h1>
    <h1 class="mb-4">Preview:</h1>
    <audio controls class="mb-4">
        <source src="{{ object.preview }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
</html>
{% endblock content %}