{% extends "base.html" %}
{% load home_extras %}

{% block search %}
    <form action="search_results" method="get">
        {% csrf_token %}
        {{search_form.as_p}}
    </form>
{% endblock search %}

<body>
    {% block content %}
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h1>Albums</h1>
          <ul class="list-group">
            {% for album in object_list %}
            {% if album.saved %}
              {% with "http://127.0.0.1:8000/albums/"|concatenate:album.pk as url %}
              {% with url|returnLink:album.name as link %}
              <li class="list-group-item list-group-item-dark">{{ link|safe }}</li>
          {% endwith %}{% endwith %}
            {% endif %}
            {% endfor %}
          </ul>
          <a href="url">link text</a>
        {% endblock content %}
      </div>
    </div>
    </div>
  </div>
</body>
