{% extends "base.html" %}

{% block search %} 
<form class="form-inline my-2 my-lg-0" action="artists/artist_search_results" method="get">
    {% csrf_token %}
    {{artist_search_form.as_p}}
</form>
{% endblock search %}

<body>
    {% block content %}
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h1>Artists</h1>
          <ul class="list-group">
            {% for artist in object_list %}
              <li class="list-group-item list-group-item-dark">{{ artist.name }}</li>
            {% endfor %}
          </ul>
        {% endblock content %}
      </div>
    </div>
    </div>
  </div>
</body>
